body {
    background-color: #F1F6F9;
    color: #394867;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #394867;
    color: #F1F6F9;
    border-radius: 3px;
    border: none;
}

button:hover {
    background-color: #9BA4B5;
}

input {
    height: 20px;
    border: solid 1.5px #394867;
    border-radius: 3px;
}
::placeholder{
    color: #9BA4B5;
  }